
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/
WindowsStoreApp/

UnmanagedOnGit/


ExpotedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

.vs/
.vscode/
